body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 48px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.main-head {
    margin: 40px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    text-align: center;
}

#loading {
    font-size: 48px;
}

.captcha-text {
    font-size: 28px;
    margin: 20px 0;
    letter-spacing: 2px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: transparent;
    color: inherit;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fff;
}

.loading-spinner {
    border: 8px solid #fff; /* Dark border */
    border-top: 8px solid #666; /* Light border for spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none; /* Initially hidden */
}

.captcha-input {
    font-size: 14px;
    padding: 20px;
    width: 75%;
    margin: 10px 0;
    border: 1px solid #fff;
    color: inherit;
    border-radius: 50px;
    background-color: transparent;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
